In [ ]:
import pandas as pd
import numpy as np
from helper_functionss import*

In [ ]:
pop_covid = read_covid()
pop_non_covid = read_non_covid()
pop_reference = read_reference()
pop_reference.columns.values[4] = 'ID_Posting'
pop_non_covid.columns.values[4] = 'ID_Posting'

In [ ]:
#count the dictionary populism scores for the covid-sample
covid_count = pop_covid['Score'].value_counts().to_frame()
covid_count['Percentage'] = covid_count/len(pop_covid)
covid_count['Percentage'] = covid_count['Percentage'].round(6)

In [ ]:
covid_count

     Score  Percentage
0  7081789    0.975288
1   172356    0.023736
2     6538    0.000900
3      481    0.000066
4       51    0.000007
5       15    0.000002
6        1    0.000000

In [ ]:
#count the dictionary populism scores for the non-covid-sample
non_covid_count = pop_non_covid['Score'].value_counts().to_frame()
non_covid_count['Percentage'] = non_covid_count/len(pop_non_covid)
non_covid_count['Percentage'] = non_covid_count['Percentage'].round(6)

In [ ]:
non_covid_count

       Score  Percentage
0   10175049    0.964576
1     355125    0.033665
2      17075    0.001619
3       1302    0.000123
4        151    0.000014
5         17    0.000002
6          5    0.000000
7          2    0.000000
10         1    0.000000
9          1    0.000000

In [ ]:
#count the dictionary populism scores for the reference-sample
reference_count = pop_reference['Score'].value_counts().to_frame()
reference_count['Percentage'] = reference_count/len(pop_reference)
reference_count['Percentage'] = reference_count['Percentage'].round(6)

In [ ]:
reference_count

      Score  Percentage
0   5771093    0.962954
1    210961    0.035201
2     10133    0.001691
3       801    0.000134
4       104    0.000017
5        18    0.000003
6         3    0.000001
7         1    0.000000
60        1    0.000000
10        1    0.000000

In [ ]:
#inspect extreme values
print(pop_reference['Comment'].loc[pop_reference['Score']>7].to_string())
print(pop_covid['Comment'].loc[pop_covid['Score']>7].to_string())
print(pop_non_covid['Comment'].loc[pop_non_covid['Score']>7].to_string())

3604595                                                                                                                                                                                                   Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! Schande! \r\nDRECKSBANDE
4478490    "Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."\r\n"Ich soll nicht von einem Foto auf selbstgefällige Dummheit schließen."
Series([], )
4228488                                                                                                                                                                                                                                                                                                                                                      An ihre Lehrer...Schande! Klingeling. Schande! Klingeling. Schande! Klingeling. Schande! Klingeling. Schande! Klingeling. Schande! Klingeling. Schande! Klingeling. Schande! Klingeling. Schande! Klingeling. Schande! Klingeling.
6336284    Zum Pöbel ghern ah Menschen de woaundast ihre Wurzeln hom. Den des Göd waundert ned vom österreichischn Pöbel zum migrantischen Pöbel. Es gibt nur an Pöbel. Es waundert vom gesamten Pöbel zu den Gstopften. Deswegen muas ma kan vom Pöbel wos neidig sei. Ma muaß generell ned neidig sei, sundan einfordern wos dem Pöbel zuasteht. DDen Gstopften is es nur recht, wenns ned des gstuhlane Göd endlich hergebn miaßn und wenn ma uns um des Göd Pöbel-intern streitn. Der Pöbel ist gscheit, wenn er des ned mocht. Der Woihstaund is ned beiim Pöbel. Er is bei den Gstopften.

In [ ]:
#remove repetitive comments seen above
pop_reference = pop_reference.loc[pop_reference['Score']<7]
pop_non_covid = pop_non_covid.loc[pop_non_covid['Score']<9]

In [ ]:
#draw samples for annotation
#1. draw a random sample of size 200 from each df that has a populism score > 2
np.random.seed(1337)
pop_covid_high = pop_covid.loc[pop_covid['Score']>=2]
pop_non_covid_high = pop_non_covid.loc[pop_non_covid['Score']>=2]
pop_reference_high = pop_reference.loc[pop_reference['Score']>=2]

In [ ]:
pop_covid_sample = pop_covid_high.sample(200)
pop_non_covid_sample = pop_non_covid_high.sample(200)
pop_reference_sample = pop_reference_high.sample(200)

In [ ]:
pop_covid_sample['Score'].value_counts()

2    183
3     15
4      2
Name: Score, dtype: int64

In [ ]:
pop_non_covid_sample['Score'].value_counts()

2    182
3     16
4      2
Name: Score, dtype: int64

In [ ]:
pop_reference_sample['Score'].value_counts()

2    185
3     15
Name: Score, dtype: int64

In [ ]:
#2. exclude already sampled comments and draw another sample of 200 comments from the whole sets
pop_covid_sample_whole = pd.concat([pop_covid,pop_covid_sample]).drop_duplicates(keep=False)
pop_non_covid_sample_whole = pd.concat([pop_non_covid,pop_reference_sample]).drop_duplicates(keep=False)
pop_reference_sample_whole = pd.concat([pop_reference,pop_reference_sample]).drop_duplicates(keep=False)
pop_covid_sample_whole = pop_covid_sample_whole.sample(200)
pop_non_covid_sample_whole = pop_non_covid_sample_whole.sample(200)
pop_reference_sample_whole = pop_reference_sample_whole.sample(200)

In [ ]:
pop_covid_sample_whole['Score'].value_counts()

0    198
1      2
Name: Score, dtype: int64

In [ ]:
pop_non_covid_sample_whole['Score'].value_counts()

0    196
1      4
Name: Score, dtype: int64

In [ ]:
pop_reference_sample_whole['Score'].value_counts()

0    193
1      6
2      1
Name: Score, dtype: int64

In [ ]:
#combine all samples
pop_covid_sample_final = pd.concat([pop_covid_sample_whole,pop_covid_sample])
pop_non_covid_sample_final = pd.concat([pop_non_covid_sample_whole,pop_non_covid_sample])
pop_reference_sample_final = pd.concat([pop_reference_sample_whole,pop_reference_sample])
final_sample = pd.concat([pop_covid_sample_final,pop_non_covid_sample_final,pop_reference_sample_final])
#random shuffle
final_sample = final_sample.sample(frac=1)

In [ ]:
final_sample = final_sample[['ID_Posting','Comment']]

In [ ]:
final_sample.to_csv('../data/annotation_sample.csv',index=True,header=False)

In [ ]:
text_stats(final_sample)

Maximum number of characters: 765
Minimum number of characters: 56
Mean number of characters: 367.4175
Maximum number of words: 109
Minimum number of words: 11
Mean number of words: 52.7075
Amount of comments with exactly one word: 0

In [ ]:
final_sample['Score'].value_counts()

0    587
2    551
3     46
1     12
4      4
Name: Score, dtype: int64